.person_main{
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

ul li{
  list-style: none;
}
.person_form{
  width:10%;
  margin-left: 45%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}